for_window [title="Picture-in-Picture"] sticky enable

for_window [tiling] border pixel 0

for_window [floating] border pixel 3

gaps inner 6
gaps outer 3
smart_gaps on

for_window [class="discord"] move container to workspace $WS10
for_window [class="telegram-desktop"] move container to workspace $WS10

for_window [class="ranger"] resize set 1000 px 600 px

for_window [class="Pavucontrol"] floating enable
