@import url("/home/leo/.cache/wal/colors-waybar.css");

* {
    border: none;
    /* border-radius: 10; */
    font-family: "Symbols Nerd Font", "monospace";
    font-size: 12px;
    min-height: 18px;
}

.bold {
    font-weight: 500;
}


#clock,
#battery,
#tray,
#idle_inhibitor,
#pulseaudio,
#backlight,
#mpris,
#custom-power,
#custom-grimshot,
#custom-notification {
    color: @foreground;
    background: @background;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    color: @foreground;
    background: @background;
}

window#waybar.empty {
    background: transparent;
}

window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: transparent;
}

#workspaces {
    font-size: 16px;
    border-radius: 10px;
    background: @background;
    transition: none;
    padding: 0 6px;
}

#workspaces button {
    color: @foreground;
    border-radius: 2px;
    padding: 0;
}

#workspaces button:active {
    color: inherit;
    background-color: #4b4e5e;
    transition: none;
}

#workspaces button:hover {
    transition: none;
    background-color: #4b4e5e;
}

#workspaces button.focused {
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            #e40303,
            #e40303 16.67%,
            #ff8c00 16.67%,
            #ff8c00 33.33%,
            #ffed00 33.33%,
            #ffed00 50%,
            #008026 50%,
            #008026 66.67%,
            #004dff 66.67%,
            #004dff 83.33%,
            #750787 83.33%,
            #750787);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#workspaces button.urgent {
    background: @color1;
    color: @background;
}

#workspaces button.occupied {
    background-color: @color1;
    font-size: 4px;
}

#window {
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            #FCF434,
            #FCF434 25%,
            #FFFFFF 25%,
            #FFFFFF 50%,
            #9C59D1 50%,
            #9C59D1 75%,
            #2C2C2C 75%,
            #2C2C2C
            ); 
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

#mpris {
    background-color: @background;
    color: #ffef97;
    border: 2px solid #ffef97;
}

#idle_inhibitor {
    background-color: @background;
    color: #f697ff;
    border: 2px solid #f697ff;
}

#pulseaudio {
    background-color: @background;
    color: #c497ff;
    border: 2px solid #c497ff;
    /* padding-right: 12px; */
}

#battery {
    background-color: @background;
    color: #97c4ff;
    border: 2px solid #97c4ff;
    /* padding-right: 16px; */
}

#battery.warning {
    background-color: #fff677;
    color: @background;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
    background-color: @background;
    color: #97fff1;
    border: 2px solid #97fff1;
    /* padding-right: 12px; */
}

#clock {
    background-color: @background;
    color: #97ffa0;
    border: 2px solid #97ffa0;
}

#custom-power {
    background-color: @background;
    color: #ffef97;
    border: 2px solid #ffef97;
}

#custom-grimshot {
    background-color: @background;
    color: #ffb897;
    border: 2px solid #ffb897;
    /* padding-right: 14px; */
}

#custom-notification {
    background-color: @background;
    color: #ff9797;
    border: 2px solid #ff9797;
}


#tray {
    /* background-color: #ff8282; */
    padding-right: 10px;

    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
            #5BCEFA,
            #5BCEFA 20%,
            #F5A9B8 20%,
            #F5A9B8 40%,
            #FFFFFF 40%,
            #FFFFFF 60%,
            #F5A9B8 60%,
            #F5A9B8 80%,
            #5BCEFA 80%,
            #5BCEFA
            ); 
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
