# See https://wiki.hyprland.org/Configuring/Monitors/

{{ if eq .chezmoi.hostname "colonthree" }}
# laptop
monitor = desc:Lenovo Group Limited 0x9051,1920x1080,0x0, 1
monitor = desc:GWD ARZOPA %=\x9d\x96"\xa1`S0000, 1920x1080, 1920x0, 1
{{ else }}
# desktop
monitor = desc:LG Electronics LG FULL HD 0x0000BA4F, 1920x1080, 0x0, 1
monitor = desc:GWD ARZOPA %=\x9d\x96"\xa1`S0000, 1920x1080, 0x1080, 1
{{ end }}
