[Desktop Entry]
Type=Application
Name=Stop Waydroid Session
Exec=waydroid session stop
Categories=X-WayDroid-App;Utility;
X-Purism-FormFactor=Workstation;Mobile;
Icon=waydroid
