* {
    font-family: "Symbols Nerd Font Mono", "Iosevka Nerd Font", monospace;
    font-size: 16px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: @text;
    margin: 5px 5px;
}

/* workspaces */

#workspaces {
    margin: 5px;
    background-color: @surface0;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    padding: 0.5rem 1rem;
    border-radius: 0;
}

#workspaces button.active {
    background-color: @sky;
    color: @surface0;
}

#workspaces button:hover {
    color: @sapphire;
}

/* end workspaces */

/* window */

#window {
    font-size: 10px;
    background-color: @mauve;
    padding: 0 1rem;
}

/* end window */

/* right base stuff */
#idle_inhibitor,
#pulseaudio,
#clock,
#tray,
#backlight,
#battery,
#custom-power {
    font-size: 16px;
    padding: 0 1rem;
    background-color: @surface0;
}
/* end right base stuff */

/* start idle_inhibitor */
#idle_inhibitor.activated {
    color: @green;
}
#idle_inhibitor.deactivated {
    color: @red;
}
/* end idle_inhibitor */

/* start clock */

/* end clock */

/* start battery */
#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}
/* end battery */

#custom-power {
    margin-right: 1rem;
}
