// -*- mode: jsonc -*-
{
  // "layer": "top", // Waybar at top layer
  "position": "bottom", // Waybar position (top|bottom|left|right)
  "height": 30, // Waybar height (to be removed for auto height)
  // "width": 1280, // Waybar width
  "spacing": 8, // Gaps between modules (4px)
  // Choose the order of the modules
  "modules-left": ["hyprland/workspaces", "hyprland/submap"],
  // "modules-center": ["hyprland/window"],
  "modules-right": [
    "idle_inhibitor",
    "pulseaudio",
    {{ if eq .chezmoi.hostname "colonthree" }}
    "backlight",
    "battery",
    {{ end }}
    "clock",
    "tray",
    "custom/power",
  ],
  // Modules configuration
  "hyprland/workspaces": {},
  "hyprland/submap": {
    // "format": "<span style=\"italic\">{}</span>",
  },
  "hyprland/window": {},
  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": "",
      "deactivated": "",
    },
  },
  "tray": {
    // "icon-size": 21,
    "spacing": 10,
    // "icons": {
    //   "blueman": "bluetooth",
    //   "TelegramDesktop": "$HOME/.local/share/icons/hicolor/16x16/apps/telegram.png"
    // }
  },
  "clock": {
    // "timezone": "America/New_York",
    "format": "<big> {:%H:%M</big>%n<small>%d/%m/%Y}</small>",
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "on-click": "gnome-calendar",
    // "format-alt": "{:%Y-%m-%d}",
  },
  "pulseaudio": {
    // "scroll-step": 1, // %, can be a float
    "format": "{volume}% {icon} {format_source}",
    "format-bluetooth": "{volume}% {icon} {format_source}",
    "format-bluetooth-muted": " {icon} {format_source}",
    "format-muted": "󰝟 {format_source}",
    "format-source": "{volume}% ",
    "format-source-muted": "",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", "", ""],
    },
    "on-click": "pavucontrol",
  },
  "backlight": {
    "device": "amdgpu_bl1",
    "format": "{percent}% {icon}",
    "format-icons": ["", ""],
    "on-scroll-down": "brightnessctl set 5%-",
    "on-scroll-up": "brightnessctl set +5%",
  },
  "battery": {
    "bat": "BAT0",
    "interval": 60,
    "states": {
      "warning": 30,
      "critical": 15,
    },
    "format": "{capacity}% {icon}",
    "format-icons": ["", "", "", "", ""],
    "max-length": 25,
    "menu": "on-click",
    "menu-file": "$HOME/.config/waybar/resources/power_profiles.xml",
    "menu-actions": {
        "performance": "powerprofilesctl set performance",
        "balanced": "powerprofilesctl set balanced",
        "power-saver": "powerprofilesctl set power-saver",
    }
  },
  "custom/media": {
    "format": "{icon} {text}",
    "return-type": "json",
    "max-length": 40,
    "format-icons": {
      "spotify": "",
      "default": "🎜",
    },
    "escape": true,
    "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null", // Script in resources folder
    // "exec": "$HOME/.config/waybar/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
  },
  "custom/power": {
    "format": "⏻",
    "tooltip": false,
    "menu": "on-click",
    "menu-file": "$HOME/.config/waybar/resources/power_menu.xml", // Menu file in resources folder
    "menu-actions": {
      "shutdown": "shutdown",
      "reboot": "reboot",
      "logout": "hyprctl dispatch exit",
    },
  },
  "custom/darkman": {
    "exec": "darkman get",
    "on-click": "darkman toggle",
    "format-icons": {
      "dark": "d",
      "light": "l"
    }
  }
}

