[Desktop Entry]
Type=Application
Version=1.0
Name=Btop
GenericName=Process Viewer
Comment=Show System Processes
Icon=btop
Exec=alacritty --class "btop" --command "btop"
Terminal=true
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
